

<div class="container-fluid">
    <div class="row justify-content-center align-content-center">
        <div class="col-md-4"></div>
        <div class="col-md-3">

            <form class="form">
                <p class="title">ADD  </p>
                
                <label for="Roles">Select Role</label>
                <select class="form-control" name="role">
                    <option value="">-- Select The Account --</option>
                    
                </select>
                <label for="Roles">Role</label>
                <select class="form-control" name="role">
                    <option value="">-- Select The Account Role --</option>
                    <option value="">Admin</option>
                    <option value="">Employee</option>
                    <option value="">Teacher</option>
                </select>

                <button class="submit">Submit</button>
                <p class="signin">Already have an acount ? <a href="#">Add Role</a> </p>
            </form>
        </div>
        <div class="col-md-5"></div>

    </div>

</div>
