

<div class="container-fluid">
    <div class="row justify-content-center align-content-center">
        <div class="col-md-4"></div>
        <div class="col-md-3">

            <form class="form">
                <p class="title">Register </p>
                
                <div class="flex">
                    <label>
                        <input class="input" type="text" placeholder="" required="">
                        <span>Firstname</span>
                    </label>

                    <label>
                        <input class="input" type="text" placeholder="" required="">
                        <span>Lastname</span>
                    </label>
                </div>

                <label>
                    <input class="input" type="email" placeholder="" required="">
                    <span>Email</span>
                </label>

                <label>
                    <input class="input" type="text" placeholder="" required="">
                    <span>Address</span>
                </label>
                <label>
                    <input class="input" type="text" placeholder="" required="">
                    <span>Phone</span>
                </label>
                <label>
                    <input class="input" type="password" placeholder="" required="">
                    <span>Password</span>
                </label>
                <label>
                    <input class="input" type="password" placeholder="" required="">
                    <span>Confirm Password</span>
                </label>
                <button class="submit">Submit</button>
                <p class="signin">Already have an acount ? <a href="#">Register</a> </p>
            </form>
        </div>
        <div class="col-md-5"></div>

    </div>

</div>
